<f:layout name="Standard" />

<f:section name="Content">
    <div class="main-content max-content-width">
        <div class="grid">
            <f:render partial="VerticalNavigation" arguments="{_all}" />

            <div class="grid {f:if(condition:'{menuType}!=0', then: 'col-9-t-8-m-12', else: 'col-12')}">
                <f:if condition="{content1}">
                    <div class="col-12">
                        <f:format.raw>{content1}</f:format.raw>
                    </div>
                </f:if>
                <div class="grid col-12">
                    <div class="{f:if(condition:'{menuType}!=0', then: 'col-4-d-12', else: 'col-4-t-12')}">
                        <f:format.raw>{content0}</f:format.raw>
                    </div>
                    <div class="{f:if(condition:'{menuType}!=0', then: 'col-4-d-12', else: 'col-4-t-12')}">
                        <f:format.raw>{content2}</f:format.raw>
                    </div>
                    <div class="{f:if(condition:'{menuType}!=0', then: 'col-4-d-12', else: 'col-4-t-12')}">
                        <f:format.raw>{content4}</f:format.raw>
                    </div>
                </div>
                <f:if condition="{content3}">
                    <div class="col-12">
                        <f:format.raw>{content3}</f:format.raw>
                    </div>
                </f:if>
            </div>
        </div>
    </div>
</f:section>